body {
    overflow-x: hidden;
}
main{
    width: 100%;
    background-color: black;
}
.nav{
    position: fixed;
    z-index: 1;
    left: 20vw;
}
.titulo-proyectos{
    text-align: center;
}
.presentacion{
    background-color: black;
}
.presentacion img{
    height: 100vh;
    opacity: 50%;
}
.texto-presentacion{
    position: absolute;
    top: 40%;
    left: 20%;
    margin: auto;
    color: white;
    z-index: 1;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
}
.texto-presentacion blockquote{
    max-width: 70%;
}
hr{
    max-width: 20%;
}
.seccion{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.presentacion blockquote{
    color: rgb(255, 255, 255);
}
.articulo li{
    list-style-type: none;
}

.seccion h1,h2{
    width: 100%;
}
.estudios {
    background-color: black;
    color: white;
}
section .articulo{
    width: 20%;
    padding: 5px;
    margin: 25px;
    display: inline;
}
.servicios{
    height: 100vh;
    padding: 10px;
    background-color: black;
    color: white;
}
.servicios img{
    width: 100%;
    height: 250px;
    border-radius: 12px;
    margin-top: 15px;
}
.seccion-contactame{
    display: flex;

}

.articulo-contactame{
    width: 55%;
    background-color: rgb(33, 32, 32);
    color: white;
}
.nombre{
    width: 40%;
}
.apellido {
    width: 40%;
}

.articulo-presentacion{
    width: 20%;
    padding: 5px;
    margin: 25px;
    display: inline;
    background-color: rgba(0, 0, 0, 0.565);
}

blockquote{
    padding: 10px;
}
.estudios h3 {
    margin-bottom: 20px;
}
.estudios li{
    text-align: center;
    padding-right: 35px;
}
input{
    font-size: 1.5rem;
}
.nombreyapellido{
    display: flex;
    flex-wrap: wrap;
}
.nombreyapellido input{
    margin: auto;
    margin-left: 40px;
    max-width: 45%;
    height: 50px;
    border-radius: 12px;
}
.nombreyapellido label{
    width: 50%;
    padding-left: 50px;
    margin-bottom: 5px;
    margin-top: 2px;
    
}
.resto-formulario{
    display: flex;
    flex-wrap: wrap;
}

.resto-formulario input{
    width: 100%;
    max-width: 90.3%;
    margin-left:40px;
    height: 50px;
    border-radius: 12px;
}
.resto-formulario textarea{
    width: 100%;
    max-width: 90.3%;
    margin-left:40px;
    border-radius: 12px;
}
.resto-formulario label{
    padding-left: 50px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 2px;
}
.boton{
    margin-top: 30px;
}

.componente {
    opacity: 0; /* Inicialmente oculto */
   
  }
  .loaded {
    opacity: 1; /* Mostrar cuando se carga */
    position: relative;
    animation-name: movimiento;
    animation-duration: 3s;
    animation-timing-function: ease;
    transition: opacity 0.3s ease; /* Efecto de transición al mostrar */
  }

  /* The animation code */
@keyframes movimiento {
    0%   { left:-500px; }
    50%  { left:100px; }
    100% { left:0px; }
  }

.servicio-info{
    text-align: justify;
    max-height: 300px;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 10px; /* Anchura de la barra */
  }
  
  ::-webkit-scrollbar-track {
    background: gray; /* Color del fondo de la barra */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: red; /* Color de la barra */
  }

.seccionProyectos{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}
.titulo-proyectos{
    width: 100%;
    color: white;
}

.proyecto{
    background-color: rgb(0, 0, 0);
    height: 60vh;
    width: 35%;
    margin: 20px;
    border-radius: 10px;

}
.proyecto blockquote{
    height: 100px;
    color: white;
    margin: auto;
}
.proyecto img{
    width:100%;
    border-radius: 12px;
}
.proyecto h2{
    color: white;
}

.proyecto:hover{
    background-color: rgb(59, 103, 246);
    cursor: pointer;
}

.sectionTecnologia{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    height: 100vh;
}
.sectionTecnologia h1{
    color: white;
    width: 100%;
    padding-top: 20px;
}

.tecnologia{
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px white;
}
.tecnologia img{
    width: 100%;
    height: 250px;
}

.tecnologiasSolidas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.tecnologiasAprendiendo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.titulo-tecnologia{
    width: 100%;
    color: white;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    height: 25vh;
}
footer li {
    margin: 15px;
    width: 100%;
}

footer a{   
    text-decoration: none;
    color: white;
    padding: 3px;
    font-size: 1.2rem;
}

.nav-fouter{
    display: flex;
    flex-wrap: wrap;
}

footer li a:hover{
    animation-name: back;
    animation-duration: 1s;
    animation-timing-function: ease;
}




/* The animation code */
@keyframes back {
0%   { background-color: rgb(0, 0, 0);
color: black; ;}
50%  { background-color: rgb(133, 133, 133);
color: black; }
100% { background-color: rgb(255, 255, 255);
color: black;}
}